pypdf
torch
transformers
chromadb
llama-index
llama-index-core
llama-index-llms-huggingface
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
requests 
PyPDF2 
python-docx 
pyyaml 
pandas 
beautifulsoup4 
wikipedia-api
